html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.gigaForm {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.codeStyle {
    width: 260px;
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    -moz-text-align: center;
    -webkit-text-align: center;
}
.container {
    width: 320px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: transparent none repeat scroll 0 0;
}
.goToLogin {
    margin: 20px 20px 10px 20px;
    width: 280px;
    height: 120px;
}
.goToRegister {
    margin: 10px 20px 10px 20px;
    width: 280px;
    height: 120px;
}
.goToLogin,.goToRegister {
    display:inline-block;
    text-align: center;
    -moz-text-align: center;
    -webkit-text-align: center;
    background-color: #b8b8b8;
    transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
}
@keyframes bgc{
    0% { background-color:#b8b8b8; }
    100% { background-color:#b8b8b8; }
}
@-moz-keyframes bgc{
    0% { background-color:#b8b8b8; }
    100% { background-color:#b8b8b8; }
}
@-o-keyframes bgc{
    0% { background-color:#b8b8b8; }
    100% { background-color:#b8b8b8; }
}
.goToLogin:hover,.goToRegister:hover{
    animation-name:bgc;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-direction: normal;
    -moz-animation-name: bgc;
    -moz-animation-duration: 0.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-timing-function: ease-out;
    -moz-animation-direction: normal;
    -o-animation-name: bgc;
    -o-animation-duration: 0.5s;
    -o-animation-fill-mode: forwards;
    -o-animation-timing-function: ease-out;
    -o-animation-direction: normal;
    -webkit-animation-name: bgc;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-direction: normal;
}
img {
    display: block;
    width: 96px;
    height: 96px;
    background-color: transparent;
    transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    -webkit-transition: all .35s ease;
}
img.L {
    margin-top: 12px;
    margin-right: auto;
    margin-left: Calc(100% - 195px);
}
img.R {
    margin-top: 4px;
    margin-right: auto;
    margin-left: Calc(100% - 188px);
}
img.L.tiny {
    margin-left: 14px;
    transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}
img.R.tiny {
    margin-left: 17px;
    transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}
@keyframes jump{
    33% { opacity: 0; }
    66% { opacity: 0.4; }
    100% { opacity: 1;  }
}
.text {
    display:block;
    margin-top:-65px;
    font-family: 'Ubuntu',sans-serif;
    font-size: 32px;
    font-weight: bold;
    opacity: 0;
    animation-name: jump;
    animation-duration: .4s;
    -moz-animation-name: jump;
    -moz-animation-duration: .4s;
    -o-animation-name: jump;
    -o-animation-duration: .4s;
    -webkit-animation-name: jump;
    -webkit-animation-duration: .4s;
}
.textL {
    margin-left:110px;
}
.textR {
    margin-left:115px;
    margin-top: -60px;
}
.goToLogin:hover .textL{
    opacity: 1;
}
.goToRegister:hover .textR{
    opacity: 1;
}
.flaticon {
    width: 370px;
    right: 3px;
    bottom: 5px;
    font-size: 10px;
    text-align: right;
    position: fixed;
}
a:visited {
    color: #000;
}
_:-ms-fullscreen, :root .L, .L.tiny {
    margin-left: 14px;
}
_:-ms-fullscreen, :root .R, .R.tiny {
    margin-left: 17px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .L,.L.tiny {
        margin-left: 14px;
    }
    .text {
        opacity: 1;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .R, .R.tiny {
        margin-left: 17px;
    }
    .text {
        opacity: 1;
    }
}
.bg {
    background: #6e6e6e none repeat scroll 0 0;
}