html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
label {
    position: absolute;
    width: 230px;
    color: #b20900;
    top:0;
    left:6ch;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    opacity: 0;
    transition: all 0.25s ease-out;
}
input {
    width: 245px;
    height: 30px;
    margin-bottom: 14px;
    text-align: center;
    border: 0.1ch solid #4e5f83;
    border-radius: 1px;
    color: rgb(28, 35, 43);
}
input::placeholder {
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}
input:hover {
    background-color: #E6FFFD;
}
input:placeholder-shown + .placeLabel {
    opacity: 1;
    transform: translateY(0rem);
}
input:not(:placeholder-shown) ~ .filledInput {
    opacity: 1;
    transform: translateY(0rem);
}
.loginLabel {
    top: 4.3ch;
}
.passwordLabel {
    top: 11.5ch;
}
.passwordRepeatLabel {
    top: 18.6ch;
}
.emailLabel {
    top: 25.8ch;
}
.emailRepeatLabel {
    top: 33ch;
}
.register-button {
    width: 247px;
    height: 35px;
    font-family: 'Rubik', sans-serif;
    border: 0.1ch solid #4e5f83;
    border-radius: 1px;
    background-color: #fcfbff;
}
.register-button:hover {
    background-color: #e0f4fc;
}
.gigaForm {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.middleForm {
    width: 320px;
    height: 355px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    border-radius: 1px;
    background: rgb(136, 150, 163) none repeat scroll 0 0;
    box-shadow: 1px 1px 4px 1px #50545b;
}
.microForm {
    position:relative;
    margin:15px 0 0 0;
}
.regText {
    color: #25275c;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 12px;
}
form {
    max-width: 320px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.backGround {
    background: rgb(200, 216, 230) none repeat scroll 0 0;
}
