label {
    position: absolute;
    width: 250px;
    color: #e31800;
    top:0;
    left:38px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    text-align: left;
    opacity: 0;
    transition: all 0.25s ease-out;
}
input {
    width: 245px;
    height: 30px;
    margin-bottom: 14px;
    text-align: center;
    border: 0.1ch solid #4e5f83;
    border-radius: 1px;
    color: rgb(28, 35, 43);
}
.errorLabel {
    width: 300px;
    position: absolute;
    align-content: center;
    opacity: 1;
    top: -38px;
    left: 28px;
    color: #ff0005;
    font-size: 17px;
}
.filledInput {
    color: #19c90a;
}
input::placeholder {
    font-size: 11px;
    font-family: 'Ubuntu', sans-serif;
}
input:hover {
    background-color: #e0f4fc;
}
input:placeholder-shown + .placeLabel {
    opacity: 1;
    transform: translateY(0rem);
}
input:not(:placeholder-shown) ~ .filledInput {
    opacity: 1;
    transform: translateY(0rem);
}
.loginLabel {
    top: 27px;
}
.passwordLabel {
    top: 74px;
}
.passwordRepeatLabel {
    top: 121px;
}
.emailLabel {
    top: 168px;
}
.emailRepeatLabel {
    top: 216px;
}
.register-button {
    width: 247px;
    height: 35px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    border: 0.1ch solid #4e5f83;
    border-radius: 1px;
    background-color: #fcfbff;
}
.register-button:hover {
    background-color: #e0f4fc;
}
.gigaForm {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s;
}
.middleForm {
    width: 320px;
    height: 355px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    border-radius: 1px;
    background: #161616 none repeat scroll 0 0;
}
.formBorder {
    width: 320px;
    height: 355px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
.formBorder:hover {

}
.microForm {
    position:relative;
    margin:15px 0 0 0;
}
.regText {
    color: #1f4bad;
    font-family: 'Alegreya Sans 800', sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-bottom: 12px;
}
.backGround {
    background: rgb(0, 0, 0) none repeat scroll 0 0;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
form {
    /*min-width: 320px;*/
    /*min-height: 355px;*/
    height: auto;
    display: block;
    margin: 0 auto;
}